@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800 dark:bg-slate-900 dark:text-slate-100;
  user-select: none;
  font-family: Inter, system-ui, -apple-system, sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(25px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.35s ease;
}
