@import "@fontsource/inter";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global app styling */


body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}


/* nicer scroll */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

/* smooth animations */
* {
  transition: all 0.15s ease;
}
